---
layout: layout.njk
title: "Tags"
showIndexBar: true
---
<h1>Browse by Tag</h1>
<ul>
  {% for t in collections.tagList %}
    <li><a href="/tagged/{{ t | url }}">{{ t }}</a></li>
  {% endfor %}
</ul>
