---
layout: layout.njk
title: "About"
---
<h1>Jolie Menzel</h1>
<p>Narrative & Visual Storytelling Leader | Design Director with AAA & Indie Expertise"</p>


{#
This is an example of curating a section of content with tags.
<h2 class="section-title">Selected Work</h2>
<div class="grid">
  {% for post in collections.posts | withTag('featured') | sortByOrder %}
    <div class="box">
      <a class="box-caption" href="{{ post.url }}">#</a>
      {% if post.data.hero %}<img src="{{ post.data.hero }}" alt="">{% endif %}
      {% if post.data.title %}<div class="box-caption-text">{{ post.data.title }}</div>{% endif %}
    </div>
  {% endfor %}
</div>
#}

<a href="/posts/portfolio_wolf/" data-popup="post">Read inline</a>


<h2 style="margin-top:24px;">Latest</h2>

I made a website. :)