---
layout: layout.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
---
{% set items = collections.posts | withTag(tag) | sortByOrder %}
<div class="grid">
  {% for post in items %}
    <div class="box">
      <a href="{{ post.url }}" class="box-caption">#</a>
      {% if post.data.hero %}<img src="{{ post.data.hero }}" alt="">{% endif %}
      {% if post.data.title %}<div class="box-caption-text">{{ post.data.title }}</div>{% endif %}
    </div>
  {% endfor %}
</div>
